class Config(object):
    USER_EMAIL = ""

    USERS = {'user': 'password'}
    THEME = 'folio'


class Development(Config):
    folio_dir = '/home/stitch/workspace/folio/folio/'
    app_dir = folio_dir + 'application/'
    SECRET_KEY='SUPER-SECRET'
    DEBUG=True
    SQLALCHEMY_DATABASE_URI = 'sqlite:///' + folio_dir + 'folio.sqlite'
    MEDIA_FOLDER = app_dir + 'static/files/'
    MEDIA_URL = 'files/'
    MEDIA_THUMBNAIL_FOLDER = app_dir + 'static/thumbnails/'
    MEDIA_THUMBNAIL_URL = 'thumbnails/'

    CACHE_TYPE = 'filesystem'
    CACHE_DEFAULT_TIMEOUT = 60
    CACHE_DIR = folio_dir + 'cache/' # next to the application folder

    AIRPLANE_MODE = True  # for offline access to bootstrap and other static files



class Production(Config):
    AIRPLANE_MODE = False
