{% extends 'folio/layout.html' %}


{% block body %}

{% if project.video %}
<iframe id="ytplayer" type="text/html" width="650" height="400"
  src="http://www.youtube.com/embed/{{project.video}}"
  frameborder="0"> </iframe>

{% else %}
<img class="img-responsive thumbnail pull-right" src="{{url_for('static', filename=project.picture|thumbnail('650x250', crop='fit'))}}">
{% endif %}


<h2>{{project.name}}</h2>

<h3>
{% if project.company %}{{project.company}}{% endif %}
<smaller style="font-size:17px">
{% if project.company and project.time_frame %} - {% endif %}
{% if project.time_frame %}{{project.time_frame}}{% endif %}
</smaller>
</h3>
<p><a href="{{project.website}}" target="_blank">Project's website <i class="fa fa-external-link"></i></a></p>

<p class="project-description">{{project.description|safe}}</p>


{% endblock %}
