/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: #FFF;
  color: #666;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

a {
  color: #444;
}

a:hover {
  color: #666;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.page-header {
  border-bottom-color: #AAA;
}

.brand {
  font-family: 'Source Sans Pro', sans-serif;
}

.brand:hover {
  text-decoration: none;
}

.social-icons {
  margin-top: 36px;
}

.social-icons a {
  margin-left: 2px;
}

.social-icons a:hover {
  text-decoration: none;
}

.nav {
  margin-bottom: 25px;
  text-transform: uppercase;
}


.nav-pills>li>a,
.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: transparent;
  color: #666;
  border-radius: 0;
}

.nav-pills>li>a:hover {
  color: #333;
  border-bottom: 1px solid #AAA;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: transparent;
  color: #333;
  border-bottom: 1px solid #999;
  border-radius: 0;
}

h3 {
  text-align: center;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  color: #666;
}

.thumbnail {
  margin-bottom: 5px;
  border: none;
  border-radius: 0;
}

.thumbnail:hover {
  opacity: 0.8;
}

.project-entry {
  margin-bottom: 20px;
  display: block;
}

.project-entry a:hover {
  text-decoration: none;
}

.project-description {
    margin-bottom: 20px;
}

.bottom-margin {
  margin-bottom: 20px;
}
